div#dt_individual_search_length {
    float: left;
}
div#dt_individual_search_filter {
    float: right;
    margin-bottom: 20px;
}
.dataTables_length select {
    padding: 3px 7px;
}
table td,table th {
    font-size: 13px !important;
    vertical-align: middle;
}
.dataTables_filter input[type="search"] {
    padding: 6px;
    border: 1px solid #b5b3b3;
    border-radius: 3px;
    margin-left: 10px;
}
.dataTables_length select {
    padding: 6px 10px;
    border: 1px solid #ccc;
    margin: 0 8px;
    border-radius: 3px;
}
a.paginate_button {
    background: #ffffff;
    padding: 5px 13px;
    display: inline-block;
    margin-top: 16px;
    margin-left: 4px;
    color: #333;
}
a.paginate_button.current {
    background: #7cb342;
    color: #fff;
}
div#dt_individual_search_info {
    float: left;
    margin-top: 15px;
}
div#dt_individual_search_paginate {
    float: right;
}
.uk-grid {
    margin-bottom: 17px;
}
img.avatar-sm {
    max-width: 80px !important;
}
select#select_demo_4 {
    display: block !important;
    opacity: 0;
    position: absolute;
    pointer-events: none;
}
.act_section ul {
    display: block !important;
}
td img.avatar-sm {
    width: 80px !important;
    height: 50px;
    object-fit: contain;
}
div#dataTable_length {
    float: left;
    margin-bottom: 15px;
}
div#dataTable_filter {
    float: right;
}
#dataTable td{
    white-space: normal;
}
div#dataTable_paginate {
    float: right;
}
div#dataTable_info {
    float: left;
    margin-top: 18px;
}
#qrice-table table tbody tr td{position:relative;}
#qrice-table table tbody tr td::before {
	position: absolute;
	content: attr(data-title);
	left: 5px;
	top: 4px;
	font-size: 12px;
	color: #959595;
	font-weight: 400;
	display:none;
}

@media(max-width:768px){
    #qrice-table table {
	display: block;
	width: 98% !important;
	height: auto;
}
#qrice-table table thead {
	display: block;
	width: 100%;
	height: auto;
}
#qrice-table table thead.xs-hidden {
	display: none;
}
#qrice-table table thead tr {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	border: 1px solid #dadada;
	overflow: hidden;
}
#qrice-table table thead tr th {
	display: block;
	margin: 0;
	padding: 5px 5px;
	width: 100% !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	position:relative;
}
#qrice-table table thead tr th::after {
	right: 15px;
}
#qrice-table table thead tr th:last-child{
border-bottom: none;	
}
#qrice-table table tbody {
	display: block;
	width: 100%;
	height: auto;
}
#qrice-table table tbody tr {
	display: block;
	margin: 10px 0 0;
	padding: 0;
	width: 100%;
	border: 1px solid #dadada;
	overflow: hidden;
}
#qrice-table table tbody tr td {
	display: block;
	margin: 0;
	padding: 25px 5px 5px;
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	position:relative;
}
#qrice-table table tbody tr td:last-child{
border-bottom: none;	
}
#qrice-table table tbody tr td::before {
		display:block;
}
.mob-tfo .dataTables_info{
    margin: 0;
text-align: center;
}
.mob-tfo div#sample-table-2_paginate{
    float: none;
text-align: center;
margin: 15px 0 0;
}
.mob-tfo div#sample-table-2_paginate ul.pagination{
    padding-left: 0px;
}
}
@media(max-width:640px){
    div#dt_individual_search_length {
	float: left;
	text-align: center;
	margin: 0 0 10px;
}
div#dt_individual_search_filter {
	float: left;
	margin-bottom: 20px;
}
div#dt_individual_search_info {
	float: left;
	margin-top: 15px;
}
div#dt_individual_search_paginate {
	float: left;
	text-align: left;
}
}