<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{HTTPS} off [OR] 
    RewriteCond %{HTTP_HOST} ^qrice\.in$ [NC] 
    RewriteRule ^$ app/webroot/ [L]
    RewriteRule (.*) app/webroot/$1 [L]

</IfModule>


